body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.top-1 {
  text-align: center;
  padding: 20px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-box {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.form-box input {
  flex: 1; /* Take remaining width */
  padding: 8px;
  margin-right: 10px;
  border: none;
}

.form-box button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

.content img {
  margin-top: 20px; /* Add some space between image and other details */
  margin-left: 200px;
}

.details {
  text-align: center; /* Center align details */
}
footer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  text-align: center;
}
footer a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #0056b3;
}
.container {
  display: flex;
  justify-content: center; /* Horizontally center the items */
  align-items: center; /* Align items to the top of the container */
}

